a {
  display: inline-block;
  padding: 24px 32px;
  width: 100%;
  background-color: #eaecf0;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
span {
  display: none;
}
a:hover span {
  display: block;
  position: absolute;
  background-color: #65676b;
  color: white;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  width: 80%;
  text-align: center;
  border-radius: 0.75rem;
  right: 50%;
  left: 10%;
  z-index: 100;
}
a span::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border: 10px solid #65676b;
  border-color: transparent transparent #65676b transparent;
}
@media (min-width: 700px) {
  a:hover span {
    right: 50%;
    left: 30%;
  
    width: 35%;
    margin-top: 1rem;
  }
}
