.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 0;
  gap: 3rem;
  text-align: left;
}
.section h3 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.02rem;
  color: #101828;
}
.section p {
  width: 343px;
  height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}
.separate {
  margin: 1.8rem 0;
}
label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  display: block;
}
input[type='text'],
input[type='email'],
textarea {
  padding: 10px 14px;
  margin: 0.5rem 0;
  width: 98%;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
input,
textarea {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #667085;
}
textarea {
  resize: none;
  height: 132px;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  margin-right: 0.85rem;
}
.checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 311px;
  margin-top: 1rem;
}
.checkbox-container {
  display: flex;
  align-items: center;
}
button {
  padding: 12px 20px;
  width: 343px;
  height: 48px;
  background: #1570ef;
  border: 1px solid #1570ef;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
