.container__img {
  margin-bottom: 1.8rem;
   text-align: center;
}
.name{
    margin-bottom: 4rem;
     text-align: center;
}
.name, .hidden__name {
  font-weight: 700;
  font-size: 1.4rem;
}
.hidden__name{
    display: none;
}